<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>arise</string>
		<string>arose</string>
		<string></string>
		<string>arisen</string>
		<string></string>
	</array>
	<array>
		<string>awake</string>
		<string>awoke</string>
		<string>awaked</string>
		<string>awoke </string>
		<string>awoken</string>
	</array>
	<array>
		<string>be</string>
		<string>was/were</string>
		<string></string>
		<string>been</string>
		<string></string>
	</array>
	<array>
		<string>bear</string>
		<string>bore</string>
		<string></string>
		<string>born</string>
		<string></string>
	</array>
	<array>
		<string>beat</string>
		<string>beat</string>
		<string></string>
		<string>beaten</string>
		<string></string>
	</array>
	<array>
		<string>become</string>
		<string>became</string>
		<string></string>
		<string>become</string>
		<string></string>
	</array>
	<array>
		<string>begin</string>
		<string>began</string>
		<string></string>
		<string>begun</string>
		<string></string>
	</array>
	<array>
		<string>bet</string>
		<string>bet</string>
		<string></string>
		<string>bet</string>
		<string></string>
	</array>
	<array>
		<string>bid</string>
		<string>bade</string>
		<string>bid</string>
		<string>bidden</string>
		<string>bid</string>
	</array>
	<array>
		<string>bite</string>
		<string>bit</string>
		<string></string>
		<string>bitten</string>
		<string></string>
	</array>
	<array>
		<string>bleed</string>
		<string>bled</string>
		<string></string>
		<string>bled</string>
		<string></string>
	</array>
	<array>
		<string>break</string>
		<string>broke</string>
		<string></string>
		<string>broken</string>
		<string></string>
	</array>
	<array>
		<string>bring</string>
		<string>brought</string>
		<string></string>
		<string>brought</string>
		<string></string>
	</array>
	<array>
		<string>build</string>
		<string>built</string>
		<string></string>
		<string>built</string>
		<string></string>
	</array>
	<array>
		<string>burn</string>
		<string>burnt</string>
		<string>burned</string>
		<string>burnt</string>
		<string>burned</string>
	</array>
	<array>
		<string>buy</string>
		<string>bought</string>
		<string></string>
		<string>bought</string>
		<string></string>
	</array>
	<array>
		<string>can</string>
		<string>could</string>
		<string></string>
		<string>could</string>
		<string></string>
	</array>
	<array>
		<string>catch</string>
		<string>caught</string>
		<string></string>
		<string>caught</string>
		<string></string>
	</array>
	<array>
		<string>choose</string>
		<string>chose</string>
		<string></string>
		<string>chosen</string>
		<string></string>
	</array>
	<array>
		<string>come</string>
		<string>came</string>
		<string></string>
		<string>come</string>
		<string></string>
	</array>
	<array>
		<string>cost</string>
		<string>cost</string>
		<string></string>
		<string>cost</string>
		<string></string>
	</array>
	<array>
		<string>cut</string>
		<string>cut</string>
		<string></string>
		<string>cut</string>
		<string></string>
	</array>
	<array>
		<string>do</string>
		<string>did</string>
		<string></string>
		<string>done</string>
		<string></string>
	</array>
	<array>
		<string>draw</string>
		<string>drew</string>
		<string></string>
		<string>drawn</string>
		<string></string>
	</array>
	<array>
		<string>dream</string>
		<string>dreamt</string>
		<string>dreamed</string>
		<string>dreamt</string>
		<string>dreamed</string>
	</array>
	<array>
		<string>drink</string>
		<string>drank</string>
		<string></string>
		<string>drunk</string>
		<string></string>
	</array>
	<array>
		<string>drive</string>
		<string>drove</string>
		<string></string>
		<string>driven</string>
		<string></string>
	</array>
	<array>
		<string>eat</string>
		<string>ate</string>
		<string></string>
		<string>eaten</string>
		<string></string>
	</array>
	<array>
		<string>fall</string>
		<string>fell</string>
		<string></string>
		<string>fallen</string>
		<string></string>
	</array>
	<array>
		<string>feed</string>
		<string>fed</string>
		<string></string>
		<string>fed</string>
		<string></string>
	</array>
	<array>
		<string>feel</string>
		<string>felt</string>
		<string></string>
		<string>felt</string>
		<string></string>
	</array>
	<array>
		<string>fight</string>
		<string>fought</string>
		<string></string>
		<string>fought</string>
		<string></string>
	</array>
	<array>
		<string>find</string>
		<string>found</string>
		<string></string>
		<string>found</string>
		<string></string>
	</array>
	<array>
		<string>flee</string>
		<string>fled</string>
		<string></string>
		<string>fled</string>
		<string></string>
	</array>
	<array>
		<string>fly</string>
		<string>flew</string>
		<string></string>
		<string>flown</string>
		<string></string>
	</array>
	<array>
		<string>forbit</string>
		<string>forbade</string>
		<string></string>
		<string>forbidden</string>
		<string></string>
	</array>
	<array>
		<string>forget</string>
		<string>forgot</string>
		<string></string>
		<string>forgotten</string>
		<string></string>
	</array>
	<array>
		<string>forgive</string>
		<string>forgave</string>
		<string></string>
		<string>forgiven</string>
		<string></string>
	</array>
	<array>
		<string>freeze</string>
		<string>froze</string>
		<string></string>
		<string>frozen</string>
		<string></string>
	</array>
	<array>
		<string>get</string>
		<string>got</string>
		<string></string>
		<string>got</string>
		<string>gotten</string>
	</array>
	<array>
		<string>give</string>
		<string>gave</string>
		<string></string>
		<string>given</string>
		<string></string>
	</array>
	<array>
		<string>go</string>
		<string>went</string>
		<string></string>
		<string>gone</string>
		<string></string>
	</array>
	<array>
		<string>grow</string>
		<string>grew</string>
		<string></string>
		<string>grown</string>
		<string></string>
	</array>
	<array>
		<string>have</string>
		<string>had</string>
		<string></string>
		<string>had</string>
		<string></string>
	</array>
	<array>
		<string>hear</string>
		<string>heard</string>
		<string></string>
		<string>heard</string>
		<string></string>
	</array>
	<array>
		<string>hide</string>
		<string>hid</string>
		<string></string>
		<string>hidden</string>
		<string></string>
	</array>
	<array>
		<string>hurt</string>
		<string>hurt</string>
		<string></string>
		<string>hurt</string>
		<string></string>
	</array>
	<array>
		<string>keep</string>
		<string>kept</string>
		<string></string>
		<string>kept</string>
		<string></string>
	</array>
	<array>
		<string>know</string>
		<string>knew</string>
		<string></string>
		<string>known</string>
		<string></string>
	</array>
	<array>
		<string>lay</string>
		<string>laid</string>
		<string></string>
		<string>laid</string>
		<string></string>
	</array>
	<array>
		<string>lead</string>
		<string>led</string>
		<string></string>
		<string>led</string>
		<string></string>
	</array>
	<array>
		<string>learn</string>
		<string>learnt</string>
		<string>learned</string>
		<string>learnt</string>
		<string>learned</string>
	</array>
	<array>
		<string>leave</string>
		<string>left</string>
		<string></string>
		<string>left</string>
		<string></string>
	</array>
	<array>
		<string>lend</string>
		<string>lent</string>
		<string></string>
		<string>lent</string>
		<string></string>
	</array>
	<array>
		<string>let</string>
		<string>let</string>
		<string></string>
		<string>let</string>
		<string></string>
	</array>
	<array>
		<string>lose</string>
		<string>lost</string>
		<string></string>
		<string>lost</string>
		<string></string>
	</array>
	<array>
		<string>make</string>
		<string>made</string>
		<string></string>
		<string>made</string>
		<string></string>
	</array>
	<array>
		<string>mean</string>
		<string>meant</string>
		<string></string>
		<string>meant</string>
		<string></string>
	</array>
	<array>
		<string>meet</string>
		<string>met</string>
		<string></string>
		<string>met</string>
		<string></string>
	</array>
	<array>
		<string>pay</string>
		<string>paid</string>
		<string></string>
		<string>paid</string>
		<string></string>
	</array>
	<array>
		<string>read</string>
		<string>read</string>
		<string></string>
		<string>read</string>
		<string></string>
	</array>
	<array>
		<string>ride</string>
		<string>rode</string>
		<string></string>
		<string>ridden</string>
		<string></string>
	</array>
	<array>
		<string>ring</string>
		<string>rang</string>
		<string></string>
		<string>rung</string>
		<string></string>
	</array>
	<array>
		<string>rise</string>
		<string>rose</string>
		<string></string>
		<string>risen</string>
		<string></string>
	</array>
	<array>
		<string>run</string>
		<string>ran</string>
		<string></string>
		<string>run</string>
		<string></string>
	</array>
	<array>
		<string>say</string>
		<string>said</string>
		<string></string>
		<string>said</string>
		<string></string>
	</array>
	<array>
		<string>see</string>
		<string>saw</string>
		<string></string>
		<string>seen</string>
		<string></string>
	</array>
	<array>
		<string>seek</string>
		<string>sought</string>
		<string></string>
		<string>sought</string>
		<string></string>
	</array>
	<array>
		<string>sell</string>
		<string>sold</string>
		<string></string>
		<string>sold</string>
		<string></string>
	</array>
	<array>
		<string>send</string>
		<string>sent</string>
		<string></string>
		<string>sent</string>
		<string></string>
	</array>
	<array>
		<string>shake</string>
		<string>shook</string>
		<string></string>
		<string>shaken</string>
		<string></string>
	</array>
	<array>
		<string>shave</string>
		<string>shaved</string>
		<string></string>
		<string>shaven</string>
		<string>shaved</string>
	</array>
	<array>
		<string>shoot</string>
		<string>shot</string>
		<string></string>
		<string>shot</string>
		<string></string>
	</array>
	<array>
		<string>show</string>
		<string>showed</string>
		<string></string>
		<string>shown</string>
		<string></string>
	</array>
	<array>
		<string>shut</string>
		<string>shut</string>
		<string></string>
		<string>shut</string>
		<string></string>
	</array>
	<array>
		<string>sing</string>
		<string>sang</string>
		<string></string>
		<string>sung</string>
		<string></string>
	</array>
	<array>
		<string>sink</string>
		<string>sank</string>
		<string></string>
		<string>sunk</string>
		<string></string>
	</array>
	<array>
		<string>sit</string>
		<string>sat</string>
		<string></string>
		<string>sat</string>
		<string></string>
	</array>
	<array>
		<string>sleep</string>
		<string>slept</string>
		<string></string>
		<string>slept</string>
		<string></string>
	</array>
	<array>
		<string>smell</string>
		<string>smelt</string>
		<string>smelled</string>
		<string>smelt</string>
		<string>smelled</string>
	</array>
	<array>
		<string>speak</string>
		<string>spoke</string>
		<string></string>
		<string>spoken</string>
		<string></string>
	</array>
	<array>
		<string>spell</string>
		<string>spelt</string>
		<string>spelled</string>
		<string>spelt</string>
		<string>spelled</string>
	</array>
	<array>
		<string>spend</string>
		<string>spent</string>
		<string></string>
		<string>spent</string>
		<string></string>
	</array>
	<array>
		<string>spill</string>
		<string>spilt</string>
		<string></string>
		<string>spilt</string>
		<string></string>
	</array>
	<array>
		<string>stand</string>
		<string>stood</string>
		<string></string>
		<string>stood</string>
		<string></string>
	</array>
	<array>
		<string>steal</string>
		<string>stole</string>
		<string></string>
		<string>stolen</string>
		<string></string>
	</array>
	<array>
		<string>strike</string>
		<string>struck</string>
		<string></string>
		<string>struck</string>
		<string>stricken</string>
	</array>
	<array>
		<string>swear</string>
		<string>swore</string>
		<string></string>
		<string>sworn</string>
		<string></string>
	</array>
	<array>
		<string>swim</string>
		<string>swam</string>
		<string></string>
		<string>swum</string>
		<string></string>
	</array>
	<array>
		<string>swing</string>
		<string>swung</string>
		<string></string>
		<string>swung</string>
		<string></string>
	</array>
	<array>
		<string>take</string>
		<string>took</string>
		<string></string>
		<string>taken</string>
		<string></string>
	</array>
	<array>
		<string>teach</string>
		<string>taught</string>
		<string></string>
		<string>taught</string>
		<string></string>
	</array>
	<array>
		<string>tear</string>
		<string>tore</string>
		<string></string>
		<string>torn</string>
		<string></string>
	</array>
	<array>
		<string>tell</string>
		<string>told</string>
		<string></string>
		<string>told</string>
		<string></string>
	</array>
	<array>
		<string>think</string>
		<string>thought</string>
		<string></string>
		<string>thought</string>
		<string></string>
	</array>
	<array>
		<string>throw</string>
		<string>threw</string>
		<string></string>
		<string>thrown</string>
		<string></string>
	</array>
	<array>
		<string>understand</string>
		<string>understood</string>
		<string></string>
		<string>understood</string>
		<string></string>
	</array>
	<array>
		<string>wear</string>
		<string>wore</string>
		<string></string>
		<string>worn</string>
		<string></string>
	</array>
	<array>
		<string>win</string>
		<string>won</string>
		<string></string>
		<string>won</string>
		<string></string>
	</array>
	<array>
		<string>write</string>
		<string>wrote</string>
		<string></string>
		<string>written</string>
		<string></string>
	</array>
</array>
</plist>
