<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>be</string>
	</array>
	<array>
		<string>have</string>
	</array>
	<array>
		<string>do</string>
	</array>
	<array>
		<string>say</string>
	</array>
	<array>
		<string>go</string>
	</array>
	<array>
		<string>get</string>
	</array>
	<array>
		<string>make</string>
	</array>
	<array>
		<string>know</string>
	</array>
	<array>
		<string>think</string>
	</array>
	<array>
		<string>take</string>
	</array>
	<array>
		<string>see</string>
	</array>
	<array>
		<string>come</string>
	</array>
	<array>
		<string>want</string>
	</array>
	<array>
		<string>look</string>
	</array>
	<array>
		<string>use</string>
	</array>
	<array>
		<string>find</string>
	</array>
	<array>
		<string>give</string>
	</array>
	<array>
		<string>tell</string>
	</array>
	<array>
		<string>work</string>
	</array>
	<array>
		<string>call</string>
	</array>
	<array>
		<string>try</string>
	</array>
	<array>
		<string>ask</string>
	</array>
	<array>
		<string>need</string>
	</array>
	<array>
		<string>feel</string>
	</array>
	<array>
		<string>become</string>
	</array>
	<array>
		<string>leave</string>
	</array>
	<array>
		<string>put</string>
	</array>
	<array>
		<string>mean</string>
	</array>
	<array>
		<string>keep</string>
	</array>
	<array>
		<string>let</string>
	</array>
	<array>
		<string>begin</string>
	</array>
	<array>
		<string>seem</string>
	</array>
	<array>
		<string>help</string>
	</array>
	<array>
		<string>talk</string>
	</array>
	<array>
		<string>turn</string>
	</array>
	<array>
		<string>start</string>
	</array>
	<array>
		<string>show</string>
	</array>
	<array>
		<string>hear</string>
	</array>
	<array>
		<string>play</string>
	</array>
	<array>
		<string>run</string>
	</array>
	<array>
		<string>move</string>
	</array>
	<array>
		<string>like</string>
	</array>
	<array>
		<string>live</string>
	</array>
	<array>
		<string>believe</string>
	</array>
	<array>
		<string>hold</string>
	</array>
	<array>
		<string>bring</string>
	</array>
	<array>
		<string>happen</string>
	</array>
	<array>
		<string>write</string>
	</array>
	<array>
		<string>provide</string>
	</array>
	<array>
		<string>sit</string>
	</array>
	<array>
		<string>stand</string>
	</array>
	<array>
		<string>lose</string>
	</array>
	<array>
		<string>pay</string>
	</array>
	<array>
		<string>meet</string>
	</array>
	<array>
		<string>include</string>
	</array>
	<array>
		<string>continue</string>
	</array>
	<array>
		<string>set</string>
	</array>
	<array>
		<string>learn</string>
	</array>
	<array>
		<string>change</string>
	</array>
	<array>
		<string>lead</string>
	</array>
	<array>
		<string>understand</string>
	</array>
	<array>
		<string>watch</string>
	</array>
	<array>
		<string>follow</string>
	</array>
	<array>
		<string>stop</string>
	</array>
	<array>
		<string>create</string>
	</array>
	<array>
		<string>speak</string>
	</array>
	<array>
		<string>read</string>
	</array>
	<array>
		<string>allow</string>
	</array>
	<array>
		<string>add</string>
	</array>
	<array>
		<string>spend</string>
	</array>
	<array>
		<string>grow</string>
	</array>
	<array>
		<string>open</string>
	</array>
	<array>
		<string>walk</string>
	</array>
	<array>
		<string>win</string>
	</array>
	<array>
		<string>offer</string>
	</array>
	<array>
		<string>remember</string>
	</array>
	<array>
		<string>love</string>
	</array>
	<array>
		<string>consider</string>
	</array>
	<array>
		<string>appear</string>
	</array>
	<array>
		<string>buy</string>
	</array>
	<array>
		<string>wait</string>
	</array>
	<array>
		<string>serve</string>
	</array>
	<array>
		<string>die</string>
	</array>
	<array>
		<string>send</string>
	</array>
	<array>
		<string>expect</string>
	</array>
	<array>
		<string>build</string>
	</array>
	<array>
		<string>stay</string>
	</array>
	<array>
		<string>fall</string>
	</array>
	<array>
		<string>cut</string>
	</array>
	<array>
		<string>reach</string>
	</array>
	<array>
		<string>kill</string>
	</array>
	<array>
		<string>remain</string>
	</array>
</array>
</plist>
